<a href="https://colab.research.google.com/github/spros1/Methods-and-Algorithms_Work_Semester_21-22/blob/main/AssortmentPlanning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Maximize the profit of promoted products to a specific target of people

We are going to work with two datasets of products :<br>

|Dataset1 |Dataset2|
|---------|--------|
|   17x7  | 20x10  |

In [45]:
## Upload files - Run the same cell twice to upload both 17x7.txt and 20x10.txt files
import pandas as pd
import io

from google.colab import files
uploaded = files.upload()

Saving test.txt to test.txt

### First create two lists one for each file in order to create the names of columns incrementally 

The columns names will be :
* ID for product id
* PC for percentage that bought the product
* PCD for percetage that bought only this product
* AVG for average contribution of product to total revenue
* AVGREVENUE for average revenue of all products of the line

In [121]:
columns1 = []
for i in range(0,7):
    s = "id"+str(i+1)
    columns1.append(s)
    s = "pc"+str(i+1)
    columns1.append(s)
    s = "pcd"+str(i+1)
    columns1.append(s)
    s = "avg"+str(i+1)
    columns1.append(s)
columns1.append("avgrevenue")

columns2 = []
for i in range(0,10):
    s = "id"+str(i+1)
    columns2.append(s)
    s = "pc"+str(i+1)
    columns2.append(s)
    s = "pcd"+str(i+1)
    columns2.append(s)
    s = "avg"+str(i+1)
    columns2.append(s)
columns2.append("avgrevenue")

Create the dataframes

In [126]:
df_17x7= pd.read_csv("17x7.txt", header=None, sep = ' ', names = columns1)

In [127]:
df_20x10= pd.read_csv("20x10.txt", header=None, sep = ' ', names = columns2)

# Check values for both files
First for 17x7.txt

In [128]:
df_17x7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7842 entries, 0 to 7841
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id1         7842 non-null   int64
 1   pc1         7842 non-null   float64
 2   pcd1        7842 non-null   float64
 3   avg1        7842 non-null   float64
 4   id2         7842 non-null   int64
 5   pc2         7842 non-null   float64
 6   pcd2        7842 non-null   float64
 7   avg2        7842 non-null   float64
 8   id3         7842 non-null   int64
 9   pc3         7842 non-null   float64
 10  pcd3        7842 non-null   float64
 11  avg3        7842 non-null   float64
 12  id4         7842 non-null   int64
 13  pc4         7842 non-null   float64
 14  pcd4        7842 non-null   float64
 15  avg4        7842 non-null   float64
 16  id5         7842 non-null   int64
 17  pc5         7842 non-null   float64
 18  pcd5        7842 non-null   float64
 19  avg5        7842 non-null   float64
 20  id6         7842 non-null   int64
 21  pc6         7842 non-null   float64
 22  pcd6        7842 non-null   float64
 23  avg6        7842 non-null   float64
 24  id7         7842 non-null   int64
 25  pc7         7842 non-null   float64
 26  pcd7        7842 non-null   float64
 27  avg7        7842 non-null   float64
 28  avgrevenue  7842 non-null   float64
dtypes: float64(22), int64(7)
memory usage: 1.7 MB

In [129]:
df_20x10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18940 entries, 0 to 18939
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id1         18940 non-null  int64
 1   pc1         18940 non-null  float64
 2   pcd1        18940 non-null  float64
 3   avg1        18940 non-null  float64
 4   id2         18940 non-null  int64
 5   pc2         18940 non-null  float64
 6   pcd2        18940 non-null  float64
 7   avg2        18940 non-null  float64
 8   id3         18940 non-null  int64
 9   pc3         18940 non-null  float64
 10  pcd3        18940 non-null  float64
 11  avg3        18940 non-null  float64
 12  id4         18940 non-null  int64
 13  pc4         18940 non-null  float64
 14  pcd4        18940 non-null  float64
 15  avg4        18940 non-null  float64
 16  id5         18940 non-null  int64
 17  pc5         18940 non-null  float64
 18  pcd5        18940 non-null  float64
 19  avg5        18940 non-null  float64
 20  id6         18940 non-null  int64
 21  pc6         18940 non-null  float64
 22  pcd6        18940 non-null  float64
 23  avg6        18940 non-null  float64
 24  id7         18940 non-null  int64
 25  pc7         18940 non-null  float64
 26  pcd7        18940 non-null  float64
 27  avg7        18940 non-null  float64
 28  id8         18940 non-null  int64
 29  pc8         18940 non-null  float64
 30  pcd8        18940 non-null  float64
 31  avg8        18940 non-null  float64
 32  id9         18940 non-null  int64
 33  pc9         18940 non-null  float64
 34  pcd9        18940 non-null  float64
 35  avg9        18940 non-null  float64
 36  id10        18940 non-null  int64
 37  pc10        18940 non-null  float64
 38  pcd10       18940 non-null  float64
 39  avg10       18940 non-null  float64
 40  avgrevenue  18940 non-null  float64
dtypes: float64(31), int64(10)
memory usage: 5.9 MB

In [145]:
# create two tuples and one temp list to hold the existence of products and their appearance to the line
df_17x7list  = (7,17)

df_17x7products = []
df_17x7contribution = []

Perform a per line loop , in order to fill two lists.
We start at position 0 where exist the product id 
and we skip 3 columns for the next product. When exists we translate that at value 1 else 0. At last position exists the contribution of this combination of products <br><br>
For example you can find below how a record will change(this is for 17x7 but it is the same for 20x10):  
0 84.00 0.00 20.43 2 37.33 0.00 3.32 3 62.67 0.00 11.12 4 17.33 0.00 0.64 7 100.00 16.00 42.99 10 70.67 0.00 14.69 14 52.00 0.00 6.81 425.8133 will change to : <br>

**products** : 1 0 1 1 1 0 0 1 0 0 1 0 0 0 1 0 0 0

**contribution** <br>
425.8133

#Create datasets for exercise 2a

### First create the two tuples for 17x7

In [146]:
# perform the loop
for e in range(0,df_17x7.shape[0]):
    lst = []
    lst0 = []
    for i in range(0,df_17x7list[0]):
        lst0.append(df_17x7.iloc[e,i*4]) # every for positions exists the product starting from 0
    for i in range(0,df_17x7list[1]+1):
        if i in lst0:
            lst.append(1)
        else:
            lst.append(0)
    df_17x7contribution.append(df_17x7.iloc[e,28]) # 28 position exists revenue for combination
    df_17x7products.append(lst)

In [147]:
print(len(df_17x7contribution))
print(len(df_17x7products))

7842
7842

In [ ]:
df_17x7products

In [ ]:
df_17x7contribution

### Second create the two tuples for 20x10

In [159]:
# create two tuples and two temp lists to hold the existence of products and their appearance to the line
df_20x10list = (10,20)

df_20x10products = []
df_20x10contribution = []

In [160]:
# perform the loop
for e in range(0,df_20x10.shape[0]):
    lst = []
    lst0 = []
    for i in range(0,df_20x10list[0]):
        lst0.append(df_20x10.iloc[e,i*4]) # every for positions exists the product starting from 0
    for i in range(0,df_20x10list[1]+1):
        if i in lst0:
            lst.append(1)
        else:
            lst.append(0)
    df_20x10contribution.append(df_20x10.iloc[e,40]) # 40 position exists revenue for combination
    df_20x10products.append(lst)

In [224]:
print(len(df_20x10contribution))
print(len(df_20x10products))

18940
18940

In [ ]:
df_20x10products

In [ ]:
df_20x10contribution

#Create functions for the models, for the visualization and the comparison of results

In [185]:
# import for models and metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing   import StandardScaler

import matplotlib.pyplot as plt
from math import sqrt

from time                    import time
import xgboost as xgb
from xgboost                 import XGBClassifier
from xgboost                 import XGBRegressor
from sklearn.svm             import SVC
from sklearn.ensemble        import RandomForestRegressor
from sklearn.ensemble        import RandomForestClassifier
from sklearn.linear_model    import LogisticRegression
from sklearn.linear_model    import LinearRegression
from imblearn.pipeline       import Pipeline
from sklearn.model_selection import cross_val_score

from sklearn import preprocessing

from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_curve
from sklearn.metrics import RocCurveDisplay
from sklearn.metrics import PrecisionRecallDisplay
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [186]:
# function to run method
def model_execution(model, model_name):
  
  pipe  = Pipeline(steps= [ (model_name, model)])
  start = time()
  fitted_model = pipe.fit(X_train, y_train)
  end = time()
  runtime = round((end - start),4)
  print(f"{model_name} took {runtime} seconds or {round((runtime/60),4)} minutes to run.")
 
  return fitted_model, runtime

In [187]:
# function to fit the model
def model_prediction(fitted_model, x_feat):
  
  pred = fitted_model.predict(x_feat)
  return pred

In [199]:
# function for the scores of regression
def model_evaluation_regressor (y_true, y_pred, model_name, train_test):

  df_score=pd.DataFrame({ 
                   'model_name'  : [model_name, model_name, model_name]
                  , 'type'       : [train_test, train_test, train_test]
                  ,'metric_name' : ['Mean_Squared_Error', 'R2 Score','Root mean squared error'] 
                  , 'metric'     : [
                                    round(mean_squared_error(y_true     , y_pred)     , 4)
                                  , round(r2_score(y_true               , y_pred)     , 4)
                                  , round(sqrt(mean_squared_error(y_true, y_pred))    , 4)
                                
                                  ]
  })
  display(df_score)
  return df_score

#### Functions for clasiffication ( fo exercise 2b )

In [190]:
## We are going to create a function using LabelBinarizer() in order to evaluate the AUC ROC score for multi-class problem:
def multiclass_roc_auc_score(y_true, y_pred, average="macro"):
  lb = preprocessing.LabelBinarizer()
  lb.fit(y_true)
  y_true = lb.transform(y_true)
  y_pred = lb.transform(y_pred)
  return roc_auc_score(y_true, y_pred, average=average)

In [191]:
## Same for precision score
def multiclass_precision_score(y_true, y_pred, average="macro"):
  lb = preprocessing.LabelBinarizer()
  lb.fit(y_true)
  y_true = lb.transform(y_true)
  y_pred = lb.transform(y_pred)
  return precision_score(y_true, y_pred, average=average)

In [192]:
# function for the scores 
def model_evaluation_classification (y_true, y_pred, model_name, train_test):

  df_score=pd.DataFrame({ 
                   'model_name' : [
                                     model_name
                                   , model_name
                                   , model_name
                                   , model_name
                                   , model_name
                                  ],
                   'type'       : [
                                     train_test
                                   , train_test
                                   , train_test
                                   , train_test
                                   , train_test
                                  ],
                   'metric_name': [
                                    'Accuracy_Score' 
                                    ,'F1_Score'      
                                    ,'Recall'        
                                    ,'Precision'      
                                    ,'Roc_Auc_Score'
                                  ],
                   'metric'     : [
                                    round(accuracy_score(y_true, y_pred                  )   , 4)
                                   ,round(f1_score(y_true, y_pred        ,average='macro')   , 4)
                                   ,round(recall_score(y_true, y_pred    ,average='macro')   , 4)
                                   ,round(multiclass_precision_score(y_true, y_pred      )   , 4)
                                   ,round(multiclass_roc_auc_score(y_true, y_pred        )   , 4)
                                  ]
  })
  display(df_score)
  return df_score

In [193]:
def conf_matrix_classification (y_true, y_pred, incmap):

  # show values
  matrix = confusion_matrix(y_true,  y_pred, labels=[0,1,2,3], normalize="true")
  print('Confusion matrix : \n',matrix)

  # plot
  sns.set()
  ax = sns.heatmap(matrix, cbar=0, linewidths=2,vmax=1, vmin=0, square=True, cmap= incmap)
  plt.show()

In [175]:
# for model comparisons
def model_plot_scores(df, metric, axis):

  grouped_df = model_total[model_total['metric_name'] == metric]

  sns.set_style("darkgrid")
  g = sns.barplot( data=grouped_df, hue='type', x='model_name', y='metric', ax=axis )
  g.set_ylabel(metric)
  g.set_title(f'{metric}')
  g.legend(loc=(0.7,1.15))

  return

#First run methods and fit them for 17x7 dataset

### Split to tran and test 80 - 20 %

In [214]:
# split to train and test
X_train, X_test, y_train, y_test = train_test_split(df_17x7products, df_17x7contribution, test_size=0.2, random_state=42)

###Random Forest

In [215]:
#  Random Forest model run
RFC_model, RFC_runtime = model_execution(RandomForestRegressor(), 'RandomForest')
train_pred_RFC = model_prediction(RFC_model, X_train  )
test_pred_RFC  = model_prediction(RFC_model, X_test)

# Random Forest Evaluation
print("\n")
RFC_train = model_evaluation_regressor(y_train, train_pred_RFC, 'RFC', 'Train17x10')
print("-----------------------------------------------\n")
RFC_test = model_evaluation_regressor(y_test, test_pred_RFC,'RFC', 'Test17x10')

RandomForest took 1.3288 seconds or 0.0221 minutes to run.

  model_name        type              metric_name   metric
0        RFC  Train17x10       Mean_Squared_Error  67.8028
1        RFC  Train17x10                 R2 Score   0.9677
2        RFC  Train17x10  Root mean squared error   8.2342

-----------------------------------------------

  model_name       type              metric_name    metric
0        RFC  Test17x10       Mean_Squared_Error  481.6092
1        RFC  Test17x10                 R2 Score    0.7684
2        RFC  Test17x10  Root mean squared error   21.9456

###LinearRegression

In [216]:
# LinearRegression run 
LRG_model, LRG_runtime = model_execution(LinearRegression(), 'LRGClassifier')
train_pred_LRG = model_prediction(LRG_model, X_train)
test_pred_LRG  = model_prediction(LRG_model, X_test)

# LinearRegression Evaluation
print("\n")
LRG_train = model_evaluation_regressor(y_train, train_pred_LRG, 'LRG', 'Train17x10')
print("-----------------------------------------------\n")
LRG_test = model_evaluation_regressor(y_test, test_pred_LRG,'LRG', 'Test17x10')

LRGClassifier took 0.0216 seconds or 0.0004 minutes to run.

  model_name        type              metric_name    metric
0        LRG  Train17x10       Mean_Squared_Error  407.9871
1        LRG  Train17x10                 R2 Score    0.8054
2        LRG  Train17x10  Root mean squared error   20.1987

-----------------------------------------------

  model_name       type              metric_name    metric
0        LRG  Test17x10       Mean_Squared_Error  418.9419
1        LRG  Test17x10                 R2 Score    0.7985
2        LRG  Test17x10  Root mean squared error   20.4681

#Second run methods and fit them for 20x10 dataset

In [217]:
# split to train and test
X_train, X_test, y_train, y_test = train_test_split(df_20x10products, df_20x10contribution, test_size=0.2, random_state=42)

###Random Forest

In [221]:
#  Random Forest model run
RFC_model, RFC_runtime = model_execution(RandomForestRegressor(), 'RandomForest')
train_pred_RFC = model_prediction(RFC_model, X_train  )
test_pred_RFC  = model_prediction(RFC_model, X_test)

# Random Forest Evaluation
print("\n")
RFC_train = model_evaluation_regressor(y_train, train_pred_RFC, 'RFC', 'Train_20x10')
print("-----------------------------------------------\n")
RFC_test = model_evaluation_regressor(y_test, test_pred_RFC,'RFC', 'Test20x10')

RandomForest took 5.4623 seconds or 0.091 minutes to run.

  model_name         type              metric_name     metric
0        RFC  Train_20x10       Mean_Squared_Error  1677.2744
1        RFC  Train_20x10                 R2 Score     0.9506
2        RFC  Train_20x10  Root mean squared error    40.9545

-----------------------------------------------

  model_name       type              metric_name      metric
0        RFC  Test20x10       Mean_Squared_Error  12057.2707
1        RFC  Test20x10                 R2 Score      0.6550
2        RFC  Test20x10  Root mean squared error    109.8056

In [213]:
# LinearRegression run 
LRG_model, LRG_runtime = model_execution(LinearRegression(), 'LRGClassifier')
train_pred_LRG = model_prediction(LRG_model, X_train)
test_pred_LRG  = model_prediction(LRG_model, X_test)

# LinearRegression Evaluation
print("\n")
LRG_train = model_evaluation_regressor(y_train, train_pred_LRG, 'LRG', 'Train_20x10')
print("-----------------------------------------------\n")
LRG_test = model_evaluation_regressor(y_test, test_pred_LRG,'LRG', 'Test20x10')

LRGClassifier took 0.0997 seconds or 0.0017 minutes to run.

  model_name         type              metric_name     metric
0        LRG  Train_20x10       Mean_Squared_Error  9933.4417
1        LRG  Train_20x10                 R2 Score     0.7073
2        LRG  Train_20x10  Root mean squared error    99.6667

-----------------------------------------------

  model_name       type              metric_name      metric
0        LRG  Test20x10       Mean_Squared_Error  10114.3000
1        LRG  Test20x10                 R2 Score      0.7106
2        LRG  Test20x10  Root mean squared error    100.5699

#Create datasets for exercise 2b
We first must create a new columns for every product to categorize the average percentage  contribution of product to total revenue :
* 0 for < 33.33
* 1 for 33.33 to 66.65
* 2 for > 66.65

In [164]:
l1 = [[],[],[],[],[],[],[],[],[],[]]
df_17x7listb = (7,17)
for e in range(0,df_17x7.shape[0]):
    for i in range(0,df_17x7listb[0]):
        if df_17x7.iloc[e,1+i*4] < 33:
            l1[i].append(0)
        elif df_17x7.iloc[e,1+i*4] < 66:
            l1[i].append(1)
        else:
            l1[i].append(2)

In [ ]:
l1